#google-logo {
    
}

.logo {
    text-align: center;
    margin-top: 200px;
}

.container {
    display: flex;
    flex-direction: row;
}

.left-nav-bar {
    display: flex;
    margin-left: 25px;
    flex: 1;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.right-nav-bar {
    display: flex;
    margin-right: 100px;
    flex: 1;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: arial;
    font-size: 14px;
    margin-left: 35px;


}

.material-icons {
    display: flex;
    flex-direction: row;
    margin-left: 20px;

}

.search-button {
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: #f8f9fa;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    
}

.search-bar {
    text-align: center;
}   

input{
    width: 20%;
    border: 1px solid grey;
    border-radius: 50px;
    height: 50px;
}

.footer-div{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F4F4F4;
    color: #CDCDCD;
    width: 100%;
    margin-top: 20px;
}

.carbon-neutral {
    color: #787878;


}
.footer-text-1 {
    text-align: center;
    color: #CDCDCD;
    margin-top: 25px;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.footer-text-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.footer-text-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}   

.advertising {
    color: #787878;

}

.business {
    color: #787878;
}

.privacy {
    color: #787878;
}

.how-search-works {
    color: #787878;
}

.terms {
    color: #787878;
}

.settings {
    color: #787878;
}

